<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>
    <div class="sidenav">
        <a th:href="@{/cars/findAll}">Select customer</a>
    </div>

    <div class="header">
        <h3>New transaction</h3>
    </div>

    <div class="content">
        <div class="container">
            <h3>Search customer by last name or driving licence number: </h3>
            <form action="#" th:action="@{/customer/search}" th:object="${searchedCustomer}" method="get">
                <input type="text" th:field="*{searchByLastNameOrDrivingLicence}" name="text"/>
                <span th:if="${#fields.hasErrors('searchByLastNameOrDrivingLicence')}"
                      th:errors="*{searchByLastNameOrDrivingLicence}"></span>
                <button type="submit">Search</button>
            </form>

            <br/><br/>
            <form action="#" th:action="@{/customer/confirm}" th:object="${customer}" method="post">
                <h3>Select existing customer:</h3>
                <select th:field="*{id}">
                    <option value="" disabled selected>Select customer</option>
                    <option th:each="i : ${customers}"
                            th:value="${i.id}" th:text="${i}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>


                <button type="submit">Save</button>
            </form>
        </div>
    </div>

</body>
</html>